<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active"
    ><span>BACKLOGG</span></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul
      *ngIf="isUserLoggedIn; else authNav"
      class="navbar-nav mr-auto mt-2 mt-lg-0"
    >
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">
          <span>PROFILE</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/newsfeed" routerLinkActive="active">
          <span>NEWS FEED</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/message" routerLinkActive="active">
          <span>MESSAGE</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/request" routerLinkActive="active" id="potential-user" name="wantedUsername" [(ngModel)]="wantedUsername">
          FRIEND REQUESTS
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLinkActive="active">
          <span>LOG OUT</span>
        </a>
      </li>
    </ul>

    <ng-template #authNav>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <span>LOG IN</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">
            <span>SIGN UP</span>
          </a>
        </li>
      </ul>
    </ng-template>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="wantedUsername" [(ngModel)]="wantedUsername" (change)="attemptToFetchUser()"/>
      <a [routerLink]="['/profile', wantedUserId]" class="btn btn-outline-success my-2 my-sm-0" type="submit"> 
        Search
      </a>
    </form>
  </div>
</nav>
