<div id="post-card" class="card">
  <div class="card-body">
    <h6>
      Composed on
      {{
        post.post_date.monthValue +
          " " +
          post.post_date.dayOfMonth +
          " " +
          post.post_date.year +
          ", " +
          post.post_date.hour +
          ":" +
          (post.post_date.minute < 10
            ? "0" + post.post_date.minute
            : post.post_date.minute) +
          ":" +
          (post.post_date.second < 10
            ? "0" + post.post_date.second
            : post.post_date.second)
      }}
    </h6>
    <p class="post-text">
      {{ post.post_text }}
    </p>
    <img [src]="convertedImage" />
    <img
      class="spicy-icon reaction-icon"
      src="./spicyReactionIcon.png"
      (click)="react(1)"
    />
    <p class="spicy-reaction-count reaction-count">{{ spicyRxnsCnt }}</p>
    <img
      class="milk-icon reaction-icon"
      src="./milkReactionIcon.png"
      (click)="react(2)"
    />
    <p class="milk-reaction-count reaction-count">{{ milkRxnsCnt }}</p>
    <hr />

    <div class="accordion" id="commentsAccordion">
      <div class="accordion-item">
        <h5 id="comments-header">
          <strong
            data-bs-toggle="collapse"
            attr.data-bs-target="#comment-collapse-{{ post.id }}"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Toggle Comments
          </strong>
        </h5>
        <div
          attr.id="comment-collapse-{{ post.id }}"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div>
              <app-comment *ngFor="let comment of comments" [comment]="comment">
              </app-comment>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      attr.data-bs-target="#new-comment{{ post.id }}"
      aria-expanded="false"
      aria-controls="new-comment"
    >
      Talk some trash
    </button>
    <app-new-comment
      [post]="post"
      class="collapse"
      id="new-comment{{ post.id }}"
    ></app-new-comment>
  </div>
</div>
