<div id="post-card" class="card">
  <div class="card-body">
    <h6>
      Composed on
      {{
        post.post_date.monthValue +
          " " +
          post.post_date.dayOfMonth +
          " " +
          post.post_date.year +
          ", " +
          post.post_date.hour +
          ":" +
          (post.post_date.minute < 10
            ? "0" + post.post_date.minute
            : post.post_date.minute) +
          ":" +
          (post.post_date.second < 10
            ? "0" + post.post_date.second
            : post.post_date.second)
      }}
    </h6>
    <hr />
    <p>
      {{ post.post_text }}
    </p>
    <hr />
    <img [src]="convertedImage" />
    <hr />
    <img
      class="spicy-icon"
      src="../../../../spicyReactionIcon.png"
      (click)="spicyReact()"
    />
    <p class="spicy-reaction-count">3</p>
    <hr />
    <app-comment *ngFor="let comment of comments" [comment]="comment">
    </app-comment>
    <app-new-comment [post]="post"></app-new-comment>
  </div>
</div>
