img {
  width: 100%;
  height: auto;
}

#post-card {
  margin: auto;
  margin-top: 24px;
  width: 40%;
}
#post-card:hover {
  transform: scale(1.01);
}

.reaction-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.reaction-count {
  display: inline-block;
  font-weight: bold;
  font-size: larger;
  margin-left: 4px;
  margin-right: 4px;
}

.spicy-icon {
  background-image: url(./spicyReactionIcon.png);
}

.milk-icon {
  background-image: url(./milkReactionIcon.png);
  padding-top: 5px;
}

.spicy-reaction-count {
  color: darkred;
}

.milk-reaction-count {
  color: darkblue;
}

.reaction-icon:hover {
  transform: scale(1.2);
}

textarea {
  border-style: none;
  resize: none;
  width: 100%;
}

textarea:hover {
  border-style: solid;
  border-color: blue;
}
