<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Cover</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1>BACKLOGG</h1>
      <p class="lead">
        Backlogg is a repo for all the things you wish you could say without
        endangering your career! We have the
        <span id="feature-sell">spiciest</span> content: Horror stories about
        junior devs
        <span id="edgy-content">ratfucking</span>
        wrecking the codebase? => We got 'em! Your PM never seen an IDE before?
        => Feels. Production down at 2am on a Saturday night? => We'll pour one
        out for you. At Backlogg, we value anonymity and freedom of expression,
        so drop the corporate talk, load your memes, and get ready to let loose.
        SWE's only!
      </p>
      <p class="lead">
        <a
          routerLink="/login" 
          routerLinkActive="active"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >LOG IN</a
        >
      </p>
      <p class="lead">
        <a
          routerLink="/register" 
          routerLinkActive="active"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >SIGN UP</a
        >
      </p>
    </main>

    <footer class="mt-auto text-white-50">
      <p>Legal ?</p>
    </footer>
  </div>
</body>
