<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
      <h1>BACKLOGG</h1>
      <p class="lead">
        Backlogg is a repo for all the things you wish you could say without
        endangering your career! We have the
        <span id="feature-sell">spiciest</span> content:
      </p>
      <p>
        Horror stories of junior devs
        <span id="edgy-content">shreking</span>
        wrecking the codebase? => <em>We got 'em!</em> 💀
      </p>
      <p>Your PM never seen an IDE before? => <em>Feels.</em> 😢</p>
      <P>
        Production down at 2am on a Saturday night? => 🤬
        <em>(We'll pour one out for you.)</em>
      </P>
      <p class="lead">
        At Backlogg, we value <strong>anonymity</strong> and
        <strong>freedom of expression</strong>, so drop the corporate talk, load
        your memes, and let loose.
      </p>
      <p><strong>SWE's Only!</strong></p>

      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <p class="lead">
          <a
            href="#"
            class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            routerLink="/login"
            routerLinkActive="active"
            >LOG IN</a
          >
        </p>
        <p class="lead">
          <a
            href="#"
            class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            routerLink="/register"
            routerLinkActive="active"
            >SIGN UP</a
          >
        </p>
      </div>
    </main>

    <footer class="mt-auto text-white-50">
      <p>Terms of Service: Be Chill</p>
    </footer>
  </div>
</body>
