img {
  width: 100%;
  height: auto;
}

#new-post-card {
  margin: auto;
  width: 40%;
}
#new-post-card:hover {
  transform: scale(1.1);
}
textarea {
  background-color: #161717;
  border-style: none;
  resize: none;
  width: 100%;
}

textarea:hover {
  border-style: solid;
  border-color: blue;
}
