<div>
    <input name="receiver" type="text" [(ngModel)] = "username" placeholder="enter recipient username">
    <button type="button" (click)="getReceiverByUsername()">Search</button>
</div>
<div>
    <form>
        <input name="receiver_id" type="number" [(ngModel)] = "recid" placeholder="Enter recipient Id">
        <textarea name = "newMessage" [(ngModel)] = "text" placeholder="Enter direct message"></textarea>
        <button type = "button" (click) ="sendMessage()">Send</button>
    </form>
</div>