<div id="register-div">
  <h2>Register yourself</h2>
  <form id="register-form">
    <label>Username: </label>
    <input id="username" name="username" type="text" [(ngModel)]="username"/>
    <br />
    <label>Password: </label>
    <input id="password" name="password" type="password" [(ngModel)]="password" />
    <br />
    <label>Please confirm your password: </label>
    <input id="password" name="passwordCheck" type="password" [(ngModel)]="passwordCheck" />
    <br />
    <label>Please enter your company: </label>
    <input id="company" name="company" type="text" [(ngModel)]="company" />
    <br />
    <label>Please enter your e-mail: </label>
    <input id="e-mail" name="email" type="text" [(ngModel)]="email" />
    <br />
    <button id="register-action" type="button" (click)="register()">
      Register A New User
    </button>
  </form>
</div>
