<img
  id="profile-pic"
  src="https://www.kindpng.com/picc/m/153-1535301_alien-clipart-trippy-x-transparent-png-trippy-alien.png"
  alt="Avatar"
/>
<h2>Welcome back {{ loggedInUser.username }}</h2>
<h4>You currently work for {{ loggedInUser.company }}</h4>
<h4>
  Your email is {{ loggedInUser.email }} - great information to submit to an
  anonymous site
</h4>
<hr />
<app-new-post></app-new-post>
<button *ngIf="adminList == false" type="button" class="btn btn-primary" (click)="showAdminList()">
  (Admin) Show All User Posts
</button>
<button *ngIf="adminList" type="button" class="btn btn-primary" (click)="hideAdminList()">
  (Admin) Hide All User Posts
</button>
<ul>
  <li *ngIf="adminList">
    <div *ngFor="let post of adminPosts">
      Post id: {{post.id}}
      <br>
      User id: {{post.person_id}}
      <br>
      {{post.post_text}}
      <br>
      <h6>Composed on {{ 
        post.post_date.monthValue 
        + "/" + post.post_date.dayOfMonth
        + "/" + post.post_date.year
        + ", " + post.post_date.hour 
        + ":" + (post.post_date.minute < 10 ? "0" + post.post_date.minute : post.post_date.minute)
        + ":" + (post.post_date.second < 10 ? "0" + post.post_date.second : post.post_date.second) }}</h6>
    </div>
  </li>
</ul>
<ul>
  <li *ngFor="let post of posts">
    {{ post.post_text }}
    <br>
    <h6>Composed on {{ 
                        post.post_date.monthValue 
                        + "/" + post.post_date.dayOfMonth
                        + "/" + post.post_date.year
                        + ", " + post.post_date.hour 
                        + ":" + (post.post_date.minute < 10 ? "0" + post.post_date.minute : post.post_date.minute)
                        + ":" + (post.post_date.second < 10 ? "0" + post.post_date.second : post.post_date.second) }}</h6>
  </li>
</ul>
