<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- set up connection info -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://usf2011.cjzzundlfqwz.us-east-2.rds.amazonaws.com:5432/postgres?currentSchema=backlogg</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">100%myPassworD</property>
		
		<!-- hibernate setup -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">true</property>
		
		<!-- tell hibernate where to find our mappings -->
		<mapping class="dev.iceb.beans.Comment"></mapping>
		<mapping class="dev.iceb.beans.Image"></mapping>
		<mapping class="dev.iceb.beans.Person"></mapping>
		<mapping class="dev.iceb.beans.Message"></mapping>
		<mapping class="dev.iceb.beans.Post"></mapping>
		<mapping class="dev.iceb.beans.Reaction"></mapping>
		<mapping class="dev.iceb.beans.Role"></mapping>
	</session-factory>
</hibernate-configuration>
