.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  padding-top: 200px;
}

img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.img-div {
  padding-left: 0;
}

.container {
  margin-left: 0;
  padding-left: 0;
}

.signin-form-div {
  margin: auto;
}

h1 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
}
