<div class="container">
  <div class="row align-items-end">
    <div class="col-md-6 img-div">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/315OmOFtI4L._SX331_BO1,204,203,200_.jpg"
      />
    </div>
    <div class="col-md-6 signin-form-div">
      <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">You know the drill...</h1>
        <label for="inputUsername" class="sr-only">Email address</label>
        <input
          type="text"
          id="inputUsername"
          class="form-control"
          [(ngModel)]="username"
          (input)="validateInput()"
          name="username"
          placeholder="Username"
          required
          autofocus
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          [(ngModel)]="password"
          (input)="validateInput()"
          name="password"
          placeholder="Password"
          required
        />
        <button class="{{ btnStyle }}" (click)="onSignIn()">ENTER</button>
        <p>
          Don't have an account?
          <a routerLink="/register" routerLinkActive="active"> Register </a
          >today!
        </p>
      </form>
    </div>
  </div>
</div>
